In [2]:
import pandas as pd

In [3]:
x = pd.ExcelFile('Jharkhand.xlsx')

In [4]:
x.sheet_names

['Sheet1']

In [5]:
df = pd.read_excel(x,'Sheet1')

In [6]:
df.head()

,State,District,AC no.,AC Name,Booth,Booth Address
0,Jharkhand,Sahebganj,1,Rajmahal,1.0,Middle School Hajipur Diyara (New Building)
1,Jharkhand,Sahebganj,1,Rajmahal,2.0,"Middle School Hajipur Diyara, (Old Building)"
2,Jharkhand,Sahebganj,1,Rajmahal,3.0,"Middle School Hajipur Diyara, (Old Building)"
3,Jharkhand,Sahebganj,1,Rajmahal,4.0,"Up. Middle School, &#160;Rajgaown (South Part)"
4,Jharkhand,Sahebganj,1,Rajmahal,5.0,"Up. Middle School, &#160;Rajgaown (North Part)"

In [12]:
l = list(df['Booth Address'].astype(str))

In [13]:
import collections, re

In [14]:
bagsofwords = [ collections.Counter(re.findall(r'\w+', txt))
            for txt in l]

In [16]:
sumbags = sum(bagsofwords, collections.Counter())

In [21]:
df = pd.DataFrame.from_dict(sumbags, orient='index').reset_index()

In [23]:
df.to_csv('bagofwords.csv')