In [38]:
import os

In [39]:
import re

In [40]:
import time

In [41]:
import pandas as pd

In [42]:
df1 = pd.read_excel('C:\\Users\\Dell\\Desktop\\Punjab\\Punjab booth file.xlsx')

In [17]:
df1.head()

,State,AC Number,Ac (from dilm),District,Part No.,Area Covered in Part,Village,Polling Station Building,Cleaned Village,Key,Unnamed: 10,Unnamed: 11
0,punjab,1,sujanpur,gurdaspur,1,BASROOP,basroop,Govt. Elementry School Basroop,basroop,1_1,NaN,NaN
1,punjab,1,sujanpur,gurdaspur,2,BASROOP,basroop,Govt. Elementry School Basroop,basroop,1_2,NaN,NaN
2,punjab,1,sujanpur,gurdaspur,3,BHADRALI,bhadrali,"GOVT. ELEMENTRY SCHOOL, BHADHRALI",bhadhrali,1_3,NaN,NaN
3,punjab,1,sujanpur,gurdaspur,4,SHEHAR,shehar,Govt. Elementry School (Jila Parishad) Shehar ...,jila parishad shehar chann dhar sujanpur,1_4,NaN,NaN
4,punjab,1,sujanpur,gurdaspur,5,CHHANN,chhann,Govt. Elementry School (Jila Parishad) Shehar ...,jila parishad shehar chann dhar sujanpur,1_5,NaN,NaN

In [18]:
dict_booth_address={}
df1.columns

Index(['State', 'AC Number', 'Ac (from dilm)', 'District', 'Part No.',
       'Area Covered in Part', 'Village', 'Polling Station Building',
       'Cleaned Village', 'Key', 'Unnamed: 10', 'Unnamed: 11'],
      dtype='object')

In [19]:
list11=df1['District'].unique()

In [20]:
for i in list11:
    dict_booth_address[i]={}

In [21]:
dict_booth_address

{'gurdaspur': {},
 'amritsar': {},
 'kapurthala': {},
 'jalandhar': {},
 'hoshiarpur': {},
 'nawanshahr': {},
 'rupnagar': {},
 'fatehgarh sahib': {},
 'ludhiana': {},
 'nihal singhwala (sc)': {},
 'moga': {},
 'firozpur': {},
 'muktsar': {},
 'faridkot': {},
 'bathinda': {},
 'mansa': {},
 'sangrur': {},
 'patiala': {}}

In [33]:
for i in dict_booth_address:
    c=0
    for j in range(len(df1)):
        if df1['District'][j]==i:
            c+=1
            if df1['Ac (from dilm)'][j] not in dict_booth_address[i]:
                    dict_booth_address[df1['District'][j]][df1['Ac (from dilm)'][j]]=[]
            dict_booth_address[df1['District'][j]][df1['Ac (from dilm)'][j]].append(df1['Cleaned Village'][j])
        elif c>0:
            break

In [65]:
dict_booth_address

{'gurdaspur': {},
 'amritsar': {},
 'kapurthala': {},
 'jalandhar': {},
 'hoshiarpur': {},
 'nawanshahr': {},
 'rupnagar': {},
 'fatehgarh sahib': {},
 'ludhiana': {},
 'nihal singhwala (sc)': {},
 'moga': {},
 'firozpur': {},
 'muktsar': {},
 'faridkot': {},
 'bathinda': {},
 'mansa': {},
 'sangrur': {},
 'patiala': {}}

In [23]:
dict_village={}

In [25]:
df2=pd.read_csv("C:\\Users\\Dell\\Desktop\\Punjab\\del+cen_PB.csv")

In [26]:
df2.head()

,Unnamed: 0,State_x,District_x,Ac No.,Ac Name,local body name,Local body name,full or part,State Name_District_Local Body Name,Unnamed: 0.1,State_y,District_y,Taluka,Village,Village cleaned,Name,State_dist_AC_Vil
0,0,punjab,gurdaspur,1,sujanpur,dhar kalan,dhar kalan,full,punjab_gurdaspur_dhar kalan,3556,punjab,gurdaspur,dhar kalan,dhar kalan,dhar kalan,Dhar Kalan,punjab_gurdaspur_sujanpur_dhar kalan
1,1,punjab,gurdaspur,1,sujanpur,dhar kalan,dhar kalan,full,punjab_gurdaspur_dhar kalan,3557,punjab,gurdaspur,dhar kalan,dhar kalan,dhar kalan,Dhar Kalan,punjab_gurdaspur_sujanpur_dhar kalan
2,2,punjab,gurdaspur,1,sujanpur,dhar kalan,dhar kalan,full,punjab_gurdaspur_dhar kalan,3558,punjab,gurdaspur,dhar kalan,dhar kalan,dhar kalan,Dhar Kalan,punjab_gurdaspur_sujanpur_dhar kalan
3,3,punjab,gurdaspur,1,sujanpur,dhar kalan,dhar kalan,full,punjab_gurdaspur_dhar kalan,3559,punjab,gurdaspur,dhar kalan,darbahn (406),darbahn,Darbahn (406),punjab_gurdaspur_sujanpur_dhar kalan
4,4,punjab,gurdaspur,1,sujanpur,dhar kalan,dhar kalan,full,punjab_gurdaspur_dhar kalan,3560,punjab,gurdaspur,dhar kalan,darkua bangla (405),darkua bangla,Darkua Bangla (405),punjab_gurdaspur_sujanpur_dhar kalan

In [27]:
list21=df2['District_y'].unique()
list21

array(['gurdaspur', 'amritsar', 'kapurthala', 'jalandhar', 'hoshiarpur',
       'rupnagar', 'fatehgarh sahib', 'ludhiana', 'moga', 'firozpur',
       'muktsar', 'faridkot', 'bathinda', 'mansa', 'sangrur', 'patiala'],
      dtype=object)

In [28]:
for i in list21:
    dict_village[i]={}

In [34]:
for i in dict_village:
    c=0
    for j in range(len(df2)):
        if df2['District_y'][j]==i:
            c+=1
            if df2['Ac Name'][j] not in dict_village[i]:
                    dict_village[df2['District_y'][j]][df2['Ac Name'][j]]=[]
            dict_village[df2['District_y'][j]][df2['Ac Name'][j]].append(df2['Village cleaned'][j])
        elif c>0:
            break

In [30]:
dict_village

{'gurdaspur': {},
 'amritsar': {},
 'kapurthala': {},
 'jalandhar': {},
 'hoshiarpur': {},
 'rupnagar': {},
 'fatehgarh sahib': {},
 'ludhiana': {},
 'moga': {},
 'firozpur': {},
 'muktsar': {},
 'faridkot': {},
 'bathinda': {},
 'mansa': {},
 'sangrur': {},
 'patiala': {}}

In [ ]:
def matching(df_list,df_list1):
    list2=df_list1
    list1=df_list
    list3=[]
    for i in list2:
        for j in i.split(' '):
            list3.append(j)
    set3=set(list3)
    list3=list(set3)
    list5=[]
    for i in range(len(list1)):
        list4=list1[i].split(' ')
        c=0
        for j in range(len(list4)-1,-1,-1):
            #['bundala']
            y=process.extractOne(list4[j],list3,scorer=fuzz.ratio)
            if y[1]>=80:
                c+=1
                if j==0:
                    list5.append(y[0])
                    break
                x=process.extractOne(list4[j-1],list3,scorer=fuzz.ratio)
                if x[1]>=80:
                    list5.append(x[0]+' '+y[0])
                    break
                list5.append(y[0])
                break
        if c==0:
            list5.append('')
    return list5

In [35]:
for i in dict_booth_address:
    for j in dict_village:
        if i==j:
            start_time = time.time()
            for k in i:
                for m in j:
                    if k==m:
                        pd.DataFrame(matching(i[k],j[m])).to_excel(str(i)+'.xlsx',header=True,index=False)
                        print("--- %s seconds ---" % (time.time() - start_time))
                        break
            break
    break

ValueError: too many values to unpack (expected 2)