In [1]:
import pandas as pd

In [3]:
raw = pd.read_csv('Beni - mapped.csv')

In [33]:
xls.booth =xls.booth.astype(str)

In [36]:
xls.head()

,District_x,Taluka,Village,# Applicants,Tehsil tag,key,tehsil Removal,village removal,Final Tag,AC number_booth,District_y,AC number,AC name,State_District_AC name,booth,Booth_Name,State-District_AC Name_Booth_Name,Taluka Mapped,Village Mapped,Address
0,Ratnagiri,CHIPLUN,Akale,51,RatnagiriCHIPLUN,ratnagirichiplunakale,N,N,NaN,265_17,Ratnagiri,265,Chiplun,Maharashtra_Ratnagiri_Chiplun,17,Akale,Maharashtra_Ratnagiri_Chiplun_Akale,Chiplun,Akale,G. P. Prathamik Shala. Akale No. 1
1,Ratnagiri,CHIPLUN,ALORE,14,RatnagiriCHIPLUN,ratnagirichiplunalore,N,N,NaN,265_114,Ratnagiri,265,Chiplun,Maharashtra_Ratnagiri_Chiplun,114,Alore,Maharashtra_Ratnagiri_Chiplun_Alore,Chiplun,Alore,Gramapannchayat Karyalay. Alore (imarat Kr. 1 ...
2,Ratnagiri,CHIPLUN,ALORE,14,RatnagiriCHIPLUN,ratnagirichiplunalore,N,N,NaN,265_115,Ratnagiri,265,Chiplun,Maharashtra_Ratnagiri_Chiplun,115,Alore,Maharashtra_Ratnagiri_Chiplun_Alore,Chiplun,Alore,Gramapannchayat Karyalay. Alore (imarat Kr. 2 ...
3,Ratnagiri,CHIPLUN,ALORE,14,RatnagiriCHIPLUN,ratnagirichiplunalore,N,N,NaN,265_116,Ratnagiri,265,Chiplun,Maharashtra_Ratnagiri_Chiplun,116,Alore,Maharashtra_Ratnagiri_Chiplun_Alore,Chiplun,Alore,G. P. Purn. Prathamik. Adarsh Marathi Shala Al...
4,Ratnagiri,CHIPLUN,ALORE,14,RatnagiriCHIPLUN,ratnagirichiplunalore,N,N,NaN,265_117,Ratnagiri,265,Chiplun,Maharashtra_Ratnagiri_Chiplun,117,Alore,Maharashtra_Ratnagiri_Chiplun_Alore,Chiplun,Alore,G. P. Purn. Prathamik. Adarsh Marathi Shala Al...

In [37]:
grouped = xls.groupby(['District_x', 'Taluka','Village','Tehsil tag','key','# Applicants'])

In [40]:
xls = pd.DataFrame(xls.groupby('key')['booth'].apply(','.join))

In [41]:
merger =

                           booth
key
akolaakolaagar       50,51,52,53
akolaakolaakhatwada           93
akolaakolaamanatpur           82
akolaakolaambikapur           75
akolaakolaanakwadi            92